<article>
  <h3>{{ include.item.title }}</h3>
  {% if include.item.subtitle %}
    <h4 style="text-align:center; font-weight:normal;">{{ include.item.subtitle }}</h4>
  {% endif %}
  
  {% if include.item.image %}
    <img src="{{ include.item.image }}" alt="{{ include.item.title }}">
  {% endif %}
  
  {% if include.item.lead %}
    <p style="font-style: italic;">{{ include.item.lead }}</p>
  {% endif %}

  {% if include.item.body %}
    <blockquote>{{ include.item.body }}</blockquote>
  {% endif %}

  {% if include.item.date %}
    <small style="display:block; text-align:right; color:#555;">{{ include.item.date }}</small>
  {% endif %}
</article>
